<h1>Photo Details</h1>

<img src = <%= @show_photo.source %> width="720">

<p><%= @show_photo.caption %></p>

<a href="http://localhost:3000/photos">Back</a>
<a href="http://localhost:3000/photos/<%= @show_photo.id %>/edit">Edit</a>
<a href="http://localhost:3000/delete_photo/<%= @show_photo.id %>">Delete</a>
